.createLayout {
  max-width: 768px;
  width: 100%;
  background: var(--dark-bg2);
  padding: 20px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.right {
  display: flex;
  gap: 20px;
}
